version: '3.3'
services:
  {{ IMAGE }}-query:
    image: harbor.futurecomes.net/futurecomes/{{ IMAGE }}:PROD__{{ CI_COMMIT_BRANCH }}
    container_name: {{ IMAGE }}-query
    restart: unless-stopped
    ports:
      - '127.0.0.1:{{ GQL_PORT }}:{{ GQL_PORT }}'
    networks:
      - app-network
    command: ["npm", "run", "query-node:start"]


  {{ IMAGE }}-processor:
    image: harbor.futurecomes.net/futurecomes/{{ IMAGE }}:PROD__{{ CI_COMMIT_BRANCH }}
    container_name: {{ IMAGE }}-processor
    restart: unless-stopped
    ports:
      - '127.0.0.1:{{ PROCESSOR_PROMETHEUS_PORT }}:{{ PROCESSOR_PROMETHEUS_PORT }}'
    networks:
      - app-network
    command: ["npm", "run", "processor:start"]
  
  db:
    image: postgres:12
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: squid
      POSTGRES_PASSWORD: squid
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - /opt/app/db:/var/lib/postgresql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
